
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.protfolio-container{
    min-height: 100vh;
    width: 100%;
}

.navlist{
    display: flex;
    gap:3.5rem;
    height: 10vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.navlist li{
    list-style: none;
}

.navlist li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: #cc4646;
}

.left-container, .right-container{
    height: 100vh;
}

.left-container{
    background:#262525;
    width:60%;
}

.right-container{
    background:#3877ff;
    width:40%;
}      